@page "/user"
@using OfficeItemManagement.Data.Model
<h3>用户管理</h3>
@if (Loading)
{
    <p>
        <em>加载中...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>姓名</th>
            <th>性别</th>
            <th>生日</th>
            <th>电话</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in UserInfo)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>******</td>
                <td>@user.Name</td>
                <td>@UserSexFriendlyString[user.Sex]</td>
                <td>@user.Birthday</td>
                <td>@user.Phone</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<User> UserInfo;
    private bool Loading = false;

    private Dictionary<ESex, string> UserSexFriendlyString = new Dictionary<ESex, string>()
    {
        {ESex.Unspecified, "未知"},
        {ESex.M, "男"},
        {ESex.F, "女"}
    };
    protected override async Task OnInitializedAsync()
    {
        if (Loading)
        {
            return;
        }
        try
        {
            Loading = true;
            await using var context = DbFactory.CreateDbContext();
            UserInfo = await context.User.ToListAsync();
        }
        finally
        {
            Loading = false;
        }
    }

}